@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    --red:#a92128;
    --black:#241d1f;
    --green:#207e48;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    border-bottom: 2px solid var(--green);
}

#burger {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li a {
    padding: 2rem;
}

nav img {
    display: block;
    padding: 1rem;
    width: 100px;
}

#mobile-logo {
    display:none;
}

@media screen and (max-width:1000px){

    nav {
        display: none;
        width: 100vw;
        left: -100vw;
        border-bottom: none;
    }

    .nav-show {
        display: block;
        /* position: fixed; */
        z-index: 3;
        left: 0;
        top: 0;
        background-color: white;
    }

    .nav-show img {
        display:none;
    }

    nav ul {
        list-style-type: none;
        display: block;
    }

    nav ul li a {
        display:block;
    }

    #burger {
        position: absolute;
        display: block;
        background-color:white;
        top: 2rem;
        left: 2rem;
        z-index: 4;
    }

    #burger img {
        display: block;
        width: 2rem;
    }

    #mobile-logo {
        display: block;
        margin: auto;
        width: 200px;
        padding: 1rem;
    }
}

main {
    max-width: 800px;
    margin: 2rem auto 2rem auto;
    padding: 0 1rem;
}

main img {
    display: block;
    width: 100%;
}

a {
    color: var(--red);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    text-align: center;
    padding: 1rem;
}

h3 {
    padding: 1rem 0;
}

p {
    padding: 1rem 0 1rem 0;
}

footer {
    text-align:center;
    background: var(--green);
    color: white;
}

.button {
    padding: 1rem 2rem;
    background: var(--green);
    color: white;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
}