.row {
    display: grid;
    grid-template-columns: 1.2fr 1fr 2fr;
    padding: 0 1rem;
}

.row:nth-child(2n){
    background: #f4f4f4;
}

.table {
    width: 100%;
    position: relative;
}

.headings {
    font-weight: bold;
    background: var(--green);
    color: white;
    position: sticky;
    top: 0;
}

iframe {
    display: block;
    width: 100%;
    min-height: 500px;
}

.general-contact {
    display: grid;
    grid-template-columns: calc(64px + 2rem) 1fr;
}

.general-contact a {
    align-self: center;
}

.general-contact img {
    display: block;
    max-width: 64px;
    margin: 1rem;
}

@media screen and (max-width: 800px) {
    .row {
        display: block;
    }

    .row p {
        padding: 1rem;
    }

    .row p:nth-child(1){
        font-weight: bold;
        background: var(--green);
        color: white;
    }

    .headings {
        display: none;
    }
}