#slideshow {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#slideshow img {
    margin: auto;
    position: relative;
}

#slideshow a {
    position: absolute;
    z-index: 2;
    padding: 1rem 2rem;
    background: var(--green);
    color: white;
    margin-bottom: 2rem;
}

#slideshow a:hover {
    cursor: pointer;
    padding: 1.1rem 2.1rem;
    margin-bottom: 1.9rem;
    text-decoration: none;
}