.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
}

.row:nth-child(2n){
    background: #f4f4f4;
}

.table {
    width: 100%;
    position: relative;
}

.headings {
    font-weight: bold;
    background: var(--green);
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0.5rem;
}

.gallery img {
    display: block;
    margin: 0.5rem 0.5rem;
    max-height: 80vh;
    max-width: 100%;
    min-width: 100%;
    width: auto;
}

@media screen and (max-width: 800px) {
    .gallery {
        display: block;
    }

    .gallery img {
        margin: 0.5rem auto;
        min-width: auto;
    }
}