<h1>Contact</h1>
<h2>General Contact</h2>
<div class="general-contact">
    <img src="/img/facebook-square.svg" alt="Facebook Icon">
    <a href="https://www.facebook.com/teawamutubowlingclub" target="_blank">@teawamutubowlingclub</a>
    <img src="/img/phone-square.svg" alt="Phone Icon">
    <a href="tel:078716641">07 871 6641 - Club House</a>
    <img src="/img/envelope.svg" alt="E-Mail Address">
    <a href="mailto:secretary@tabowlingclub.co.nz">secretary@tabowlingclub.co.nz</a>
</div>
<h2>Individual Contact</h2>
<div class="table">
    <div class="row headings">
        <p>Role</p>
        <p class="heading">Name</p>
        <p class="heading">Email</p>
    </div>
    <div class="row">
        <p>Patron</p>
        <p>John Jones</p>
        <p></p>
    </div>
    <div class="row">
        <p>President</p>
        <p>Diane Sharpe</p>
        <p>president@tabowlingclub.co.nz</p>
    </div>
    <div class="row">
        <p>Vice President</p>
        <p>Clark Ambury</p>
        <p>vicpresident@tabowlingclub.co.nz</p>
    </div>
    <div class="row">
        <p>Treasurer</p>
        <p>Christine Osment</p>
        <p>treasurer@tabowlingclub.co.nz</p>
    </div>
    <div class="row">
        <p>Secretary</p>
        <p>Christine Ball</p>
        <p>secretary@tabowlingclub.co.nz</p>
    </div>
    <div class="row">
        <p>Club Captain</p>
        <p>Gae Young</p>
        <p></p>
    </div>
</div>
<h2>Map</h2>
<p>
    Here you can see where we are located and get directions if needed.
</p>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12574.01689444372!2d175.3217741!3d-38.012023!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa9dbd2a752035615!2sTe%20Awamutu%20Bowling%20Club!5e0!3m2!1sen!2snz!4v1588301403593!5m2!1sen!2snz"
    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>