<h1>Te Awamutu Bowling Club</h1>
<div id="slideshow">
    <img src="/img/home/slideshow/1.jpg">
    <a href="/theclub">I'm New Here!</a>
</div>
<h2>Welcome!</h2>
<p>
    Welcome to the Te Awamutu Bowling Club website! Thanks for taking the time to check us out!
</p>
<h2>New here?</h2>
<p>
    We would like you get to know us and our club, a great place to start is to learn about <a href="/theclub">the
        club here</a>.
</p>
<h2>Get in touch</h2>
<p>
    If you would like to get in touch with us, we would love to hear from you, the best way to do that is on our
    <a href="/contact">contact page</a>.
</p>