<h1>Results</h1>
<h2>Congratulations to All Winners for the 2019-2020 Season</h2>
<h3>Lynda Bennett's Achievements 2019-2020 Season</h3>
<div class="table">
    <div class="row headings">
        <p>Section</p>
        <p>Team Size</p>
        <p>Placing</p>
    </div>
    <div class="row">
        <p>NZ Disabled</p>
        <p>Singles</p>
        <p>Winner</p>
    </div>
    <div class="row">
        <p>NZ Disabled</p>
        <p>Triples - Skip</p>
        <p>Winner</p>
    </div>
    <div class="row">
        <p>NZ Open Disabled</p>
        <p>Pairs - Skip</p>
        <p>Third Equal</p>
    </div>
    <div class="row">
        <p>Te Awamutu Ladies</p>
        <p>Pairs - Skip</p>
        <p>Winner</p>
    </div>
    <div class="row">
        <p>Te Awamutu Mixed</p>
        <p>Fours - Played Third</p>
        <p>Winner</p>
    </div>
    <div class="row">
        <p>Te Awamutu Ladies</p>
        <p>Triples - Skip</p>
        <p>Runner-up</p>
    </div>
    <div class="row">
        <p>Hinuera Ladies</p>
        <p>Fours - Lead</p>
        <p>Winner</p>
    </div>
</div>
<h3>Picture Gallery of Some of our Winners</h3>
<div class="gallery">
    <img src="/img/results/1.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/2.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/3.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/4.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/5.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/6.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/7.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/8.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/9.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/10.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/11.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/12.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/13.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/14.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/15.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/16.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/17.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/18.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/19.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/20.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/21.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/22.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/23.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/24.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
    <img src="/img/results/25.jpg" alt="Te Awamutu Bowling Club winner 2019-2020 Season">
</div>