<h1>The Club</h1>
<h2>Welcome</h2>
<p>
    We love to welcome new faces to the club, whether you are a keen bowler, casual bowler, young, old, new to the game
    or would just like to socialise with a warm friendly group of people.
</p>
<p>
    We are a very friendly and active club with a good mix of female and male members.
</p>
<img src="/img/about/logo.webp" alt="Club Logo">

<h2>Our Greens</h2>
<p>
    The club has two 8 rink Lawn Bowls greens one artificial and one natural.
</p>
<h3>Natural Lawn Bowls Green</h3>
<img src="/img/about/natural.jpg" alt="Natural Lawn Bowls Green">
<h3>Artificial Lawn Bowls Green</h3>
<img src="/img/about/artificial.webp" alt="Artificial Lawn Bowls Green">
<h2>Social Events</h2>
<p>
    Social events are catered for in the large lounge with a bar, as well as a separate spacious club room and kitchen
    for other social events.
</p>
<h3>Lounge Area</h3>
<img src="/img/about/lounge.webp" alt="Lounge Area">
<h3>Bar</h3>
<img src="/img/about/bar.webp" alt="Club Bar">
<h3>Spacious Club Room</h3>
<img src="/img/about/club-room.webp" alt="Club Room">
<h3>Kitchen</h3>
<img src="/img/about/kitchen.webp" alt="Club Kitchen">